---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="h-screen flex flex-col">
    <Header />
    <main class="m-auto w-full md:w-1/2 lg:w-1/3 px-8 mt-12 md:mt-32">
      <h1 class="text-4xl">Hi there!</h1>
      <p class="mt-4">
        I’m Jeremy Dormitzer. I’m a full-stack software engineer from Boston,
        MA.
      </p>
      <p class="mt-4">
        I love generative art, entrepreneurship, and automation. I think that
        software gives us superpowers, and I want to build programs that
        suprise, delight, and empower.
      </p>
      <p class="mt-4">
        Connect with me on
        <a href="https://twitter.com/jeremydormitzer">Twitter</a> or
        <a href="https://linkedin.com/in/jeremydormitzer">LinkedIn</a>.
      </p>
    </main>
    <Footer />
  </body>
</html>
